<html lang="en">
  <head>
    <style>
      h5:hover{
        
      }
    </style>
      
  </head>
  
  <body>
  
<div class="container-fluid">
  <div class="row" >
    <div class="col-2 themed-grid-col2">
      <form class="position-fixed">
        <div class="form-group ">
          <label for="Search"><h4>Search</h4></label>
          <input type="location" class="form-control" id="exampleCity1" aria-describedby="emailHelp" placeholder="Enter City">
          <input type="location" class="form-control" id="exampleState1" aria-describedby="emailHelp" placeholder="Enter State">
          <input type="location" class="form-control" id="exampleZipCode1" aria-describedby="emailHelp" placeholder="Enter Zip Code">
          <small id="locationHelp" class="form-text text-muted">Where are you looking to book a place</small>
        </div>
        <div class="row">
          <div class="col">
            <a class="btn btn-dark w-100" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Advanced Search</a>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body" style="background-color: transparent; border: none;">
               
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Room Type
                      </button>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                           	<div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">Condo</label>
                            </div>
                              
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                              <label class="form-check-label" for="inlineCheckbox2">House</label>
                            </div>
                              
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">Apartment</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                              <label class="form-check-label" for="inlineCheckbox3">Townhome</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option5">
                              <label class="form-check-label" for="inlineCheckbox3">Cottage</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option6">
                              <label class="form-check-label" for="inlineCheckbox3">Guest House</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option7">
                              <label class="form-check-label" for="inlineCheckbox3">Bungalow</label>
                            </div>       
                          </div>
                        </div>
                      </div>

                    <div class="card">
                      <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Amenities
                      </button>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                    	      <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">Internet</label>
                            </div>
                              
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                              <label class="form-check-label" for="inlineCheckbox2">Air Conditioning</label>
                            </div>
                              
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">Washer & Dryer</label>
                            </div>
                              
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                              <label class="form-check-label" for="inlineCheckbox4">Heater</label>
                            </div> 
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                              <label class="form-check-label" for="inlineCheckbox5">TV</label>
                            </div> 
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                              <label class="form-check-label" for="inlineCheckbox6">Parking</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                              <label class="form-check-label" for="inlineCheckbox7">No Smoking</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
                              <label class="form-check-label" for="inlineCheckbox8">Childen Welcome</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
                              <label class="form-check-label" for="inlineCheckbox9">Pets Welcome</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
                              <label class="form-check-label" for="inlineCheckbox10">Satellite or Cable</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11">
                              <label class="form-check-label" for="inlineCheckbox11">Swimming Pool</label>
                            </div>
                            
                            <div class="form-check ">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12">
                              <label class="form-check-label" for="inlineCheckbox12">Fireplace</label>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="card">
                      <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Guest Amount
                      </button>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      		<div class="card-body">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                              <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">3</label>
                            </div>
      	                  		<br>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                              <label class="form-check-label" for="inlineCheckbox3">4</label>
                            </div>
      		                  <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                              <label class="form-check-label" for="inlineCheckbox3">5</label>
                            </div>
      		                  <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                              <label class="form-check-label" for="inlineCheckbox3">6</label>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="card">    
                      <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Number of Beds
                      </button>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                          <div class="card-body">
       	                    <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                              <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">3</label>
                            </div>
      		                  	<br>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                              <label class="form-check-label" for="inlineCheckbox3">4</label>
                            </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox3">5</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                <label class="form-check-label" for="inlineCheckbox3">6</label>
                              </div>
                            </div>      
                          </div>
                    </div>
                       <div class="card">
                        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Bedrooms
                        </button>
                          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
               	              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">3</label>
                              </div>
        			                  <br>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox3">4</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox3">5</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                <label class="form-check-label" for="inlineCheckbox3">6</label>
                              </div>
                            </div>      
                          </div>
                        </div>
                        
                      <div class="card">
                        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          Bathrooms
                        </button>
                          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
               	              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">3</label>
                              </div>
                          			<br>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox3">4</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox3">5</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                <label class="form-check-label" for="inlineCheckbox3">6</label>
                              </div>
                            </div>   
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        	<button type="submit" class="btn btn-success w-100">Submit</button>
        </form>
      </div>
                  <!--This is where the original starts-->
    <!--              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample0" aria-expanded="false" aria-controls="collapseExample0">-->
    <!--                Room Type-->
    <!--              </button>-->
    <!--              <div class="collapse" id="collapseExample0">-->
    <!--                <div class="card card-body">-->
                      
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox1">Condo</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox2">House</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">Apartment</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">Townhome</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option5">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">Cottage</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option6">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">Guest House</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option7">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">Bungalow</label>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
                  
    <!--              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
    <!--                Amenities-->
    <!--              </button>-->
    <!--              <div class="collapse" id="collapseExample">-->
    <!--                <div class="card card-body">-->
                      
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox1">Wifi</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox2">Pools</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">Parking</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">Air Conditioning</label>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
                
    <!--              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">-->
    <!--                Guest amount-->
    <!--              </button>-->
    <!--              <div class="collapse" id="collapseExample1">-->
    <!--                <div class="card card-body">-->
                      
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox1">1</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox2">2</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">3</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">4</label>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
                  
    <!--              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">-->
    <!--                Number of Beds-->
    <!--              </button>-->
    <!--              <div class="collapse" id="collapseExample2">-->
    <!--                <div class="card card-body">-->
                      
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox1">1</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox2">2</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">3</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">4</label>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
                  
    <!--              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">-->
    <!--                Number of Bedrooms-->
    <!--              </button>-->
    <!--              <div class="collapse" id="collapseExample3">-->
    <!--                <div class="card card-body">-->
                      
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox1">1</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox2">2</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">3</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">4</label>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
                  
    <!--              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">-->
    <!--                Restroom Count-->
    <!--              </button>-->
    <!--              <div class="collapse" id="collapseExample4">-->
    <!--                <div class="card card-body">-->
                      
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox1">1</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox2">2</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">3</label>-->
    <!--                  </div>-->
    <!--                  <div class="form-check form-check-inline">-->
    <!--                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">-->
    <!--                    <label class="form-check-label" for="inlineCheckbox3">4</label>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
                    
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    <button type="submit" class="btn btn-success w-100">Submit</button>-->
    <!--    </div>-->
    <!--    </div>-->
    <!--  </form>-->
    <!--</div>-->
    
    <div class="col-8 themed-grid-col">
      
      <% @airbnbs.each do |airbnb| %>
      <div class="row">
        <div class="col-4 themed-grid-col" style="height: 270px"><img src="<%= airbnb.image_url %>" class="w-100" style="height: 250px"></div> <div class="col-8 themed-grid-col" style="height: 270px"> 
          <div class="row">
            <div class="col-10">
             <h5><%= link_to airbnb.title, airbnb.link %></h5>
              <%= airbnb.room_type %> -
              Guest Amount <%= airbnb.guest_amount %> -
              Beds <%= airbnb.number_of_beds %> -
              Bathroom <%= airbnb.restroom_count %><br>
              <h5>Amenities</h5>
              <%= airbnb.ammenities %><br>
              <%= airbnb.coordinates %><br>
              <h5>Description</h5>
              
              <%= airbnb.description %>
            </div>
             
            <div class="col-2">
              Price $<%= airbnb.price %> <small>per night</small>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-2 themed-grid-col2">
      <img src="https://compote.slate.com/images/ff47615b-f476-4479-af98-add0a5255c80.jpeg" class="w-100" >
    </div>
  </div>
</div>

</body>
</html>