<html lang="en">
  <head>
    <style>
      h5:hover{
        
      }
      .card-body {
    
    padding: 0rem;
      }
    </style>
    
    <nav class="navbar fixed-bottom bg-light w-100">
  
  
  <form class="w-100">
        
      <div class="container-fluid w-100">
                      <div class="row" >
                        <div class="col themed-grid-col2" style="width: 95vw;">
                <div class="card card-body" style="background-color: transparent; border: none;">
               
                  <div class="accordion" id="accordionExample">
                    
                      <div class="row">
                    <div class="col-2"><div class="card">
                      <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Room Type
                      </button>
                        
                      </div>

                    </div><div class="col-2"><div class="card">
                      <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Amenities
                      </button>
                        
                      </div>

                    </div><div class="col-2"><div class="card">
                      <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Guest Amount
                      </button>
                        
                      </div>
                      
                        </div><div class="col-2"><div class="card">    
                      <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Number of Beds
                      </button>

                        
                    </div>
                       </div><div class="col-2"><div class="card">
                        <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Bedrooms
                        </button>
                          
                        </div>
                        
                      </div><div class="col-2"><div class="card">
                        <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          Bathrooms
                        </button>
                          
                        </div>
                      </div>
                      </div>
                      
                      
                      <div class="row justify-content-md-center">
                        <div class="col">
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                           	<div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">Condo</label>
                            </div>
                              
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                              <label class="form-check-label" for="inlineCheckbox2">House</label>
                            </div>
                              
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">Apartment</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                              <label class="form-check-label" for="inlineCheckbox3">Townhome</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option5">
                              <label class="form-check-label" for="inlineCheckbox3">Cottage</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option6">
                              <label class="form-check-label" for="inlineCheckbox3">Guest House</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option7">
                              <label class="form-check-label" for="inlineCheckbox3">Bungalow</label>
                            </div>       
                          </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                    	      <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">Internet</label>
                            </div>
                              
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                              <label class="form-check-label" for="inlineCheckbox2">Air Conditioning</label>
                            </div>
                              
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">Washer & Dryer</label>
                            </div>
                              
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                              <label class="form-check-label" for="inlineCheckbox4">Heater</label>
                            </div> 
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                              <label class="form-check-label" for="inlineCheckbox5">TV</label>
                            </div> 
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                              <label class="form-check-label" for="inlineCheckbox6">Parking</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                              <label class="form-check-label" for="inlineCheckbox7">No Smoking</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
                              <label class="form-check-label" for="inlineCheckbox8">Childen Welcome</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
                              <label class="form-check-label" for="inlineCheckbox9">Pets Welcome</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
                              <label class="form-check-label" for="inlineCheckbox10">Satellite or Cable</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11">
                              <label class="form-check-label" for="inlineCheckbox11">Swimming Pool</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12">
                              <label class="form-check-label" for="inlineCheckbox12">Fireplace</label>
                            </div>
                          </div>
                        </div>  
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      		<div class="card-body">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                              <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">3</label>
                            </div>
      	                  		
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                              <label class="form-check-label" for="inlineCheckbox3">4</label>
                            </div>
      		                  <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                              <label class="form-check-label" for="inlineCheckbox3">5</label>
                            </div>
      		                  <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                              <label class="form-check-label" for="inlineCheckbox3">6</label>
                            </div>
                          </div>
                        </div>
                        
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                          <div class="card-body">
       	                    <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                              <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">3</label>
                            </div>
      		                  	
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                              <label class="form-check-label" for="inlineCheckbox3">4</label>
                            </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox3">5</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                <label class="form-check-label" for="inlineCheckbox3">6</label>
                              </div>
                            </div>      
                          </div>
                          
                          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
               	              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">3</label>
                              </div>
        			                  
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox3">4</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox3">5</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                <label class="form-check-label" for="inlineCheckbox3">6</label>
                              </div>
                            </div>      
                          </div>
                          
                          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
               	              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">3</label>
                              </div>
                          			
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox3">4</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox3">5</label>
                              </div>
        		                  <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                <label class="form-check-label" for="inlineCheckbox3">6</label>
                              </div>
                            </div>   
                          </div>
                        
                        
                        
                        
                        
                        </div>
                      </div>
                      <div class="form-group">
                      <div class="row align-items-end">
                        <div class="col-4">
                          
                            <input type="location" class="form-control" id="exampleCity1" aria-describedby="emailHelp" placeholder="Enter City">
                          
                        </div>
                        <div class="col-4">
                          
                            <input type="location" class="form-control" id="exampleState1" aria-describedby="emailHelp" placeholder="Enter State">
                          
                        </div> 
                        <div class="col-1">
                          
                        </div>
                        <div class="col-3">
                          <button type="submit" class="btn btn-outline-success w-100">Submit</button>
                        </div>
                      </div>
                      </div>
                      
                    </div>
              
            
            </div>
            </div>
            
            </div>
        	
        </form>
</nav>
  </head>
  
  <body>
  
<div class="container-fluid">
  <div class="row" style="padding-left: 0px;">

    <div class="col-9 themed-grid-col" style="padding-left: 17px;">
       
      <% @airbnbs.each do |airbnb| %>
      <div class="row">
        <div class="col-4 themed-grid-col" style="height: 270px; padding: 3px;"><img src="<%= airbnb.image_url %>" class="w-100 h-100" style="height: 250px;"></div> <div class="col-8 themed-grid-col" style="height: 270px"> 
          <div class="row">
            <div class="col-10">
             <h5><%= link_to airbnb.title, airbnb.link %></h5>
              <%= airbnb.room_type %> -
              Guest Amount <%= airbnb.guest_amount %> -
              Beds <%= airbnb.number_of_beds %> -
              Bathroom <%= airbnb.restroom_count %><br>
              <h5>Amenities</h5>
              <%= airbnb.ammenities %><br>
              <!--<%= airbnb.coordinates %><br>-->
              <h5>Description</h5>
              
              <%= airbnb.description %>
            </div>
             
            <div class="col-2">
              Price $<%= airbnb.price %> <br><small>per night</small>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-3 themed-grid-col2">
      <img src="https://compote.slate.com/images/ff47615b-f476-4479-af98-add0a5255c80.jpeg" class="w-100" style="border: 1px solid rgba(86, 61, 124, .2);" >
    </div>
  </div>
</div>

</body>
</html>